# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/vcs.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
HELP.md
target/
**/src/main/generate/**

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.gitignore

