<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>记账吧</title>
    <link rel='stylesheet' href='../static/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/core.css"/>
    <link rel="stylesheet" href="../static/css/menu.css"/>
    <link rel="stylesheet" href="../static/css/admin.css"/>
    <link rel="stylesheet" href="../static/css/page/typography.css"/>
    <link rel="stylesheet" href="../static/css/page/form.css"/>
    <link rel="stylesheet" href="../static/css/component.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/selectBox/index.css"/>
    <link rel="stylesheet" href="../static/css/selectBox/labelauty.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.css"/>
    <link rel="stylesheet" href="../static/css/jcalculator.css">
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="page-title" style="float: left">
        <a class="col-xs-11" onclick="backHome()"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <div class="page-title" style="float: right">
        <a class="col-xs-11" data-toggle="modal" data-target="#configModal"><i class="fa fa-cog" aria-hidden="true"></i></a>
    </div>
    <br>
    <div class="container consume-table">
        <h4>&nbsp;&nbsp;</h4>
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#consumeDetailTable2" onclick="showFilter()"><strong>支出</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#incomeDetailTable2" onclick="getIncomeDetail();hideFilter()"><strong>收入</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#incomeAndExpenditure" onclick="getIncomeAndExpenditure();hideFilter()"><strong>汇总</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#pieChart" onclick="getPieChat();hideFilter()"><strong>饼状图</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#lineChart"
                   onclick="getLineChat();hideFilter()"><strong>折线图</strong></a>
            </li>
        </ul>
        <h4>&nbsp;&nbsp;</h4>
        <!--筛选-->
        <div class="form-group form-inline select-centered" id="filter">
            <!--消费人下拉框-->
            <div class="form-group form-inline" style="margin-right: 2px">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeBySelect">
                        <option value="0" selected class="my-select">人员</option>
                        <option value="1" class="my-select">可</option>
                        <option value="2" class="my-select">欣</option>
                    </select>
                </div>
            </div>
            <!--消费类别下拉框-->
            <div class="form-group form-inline" style="margin-right: 2px">
                <div class="parent">
                    <button type="button" data-toggle="modal" id="selectedCategory" data-target="#consumeCategoryModal"
                            style="text-align: left">类别
                    </button>
                </div>
            </div>
            <!--消费方式下拉框-->
            <div class="form-group form-inline" style="margin-right: 2px">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeWaySelect">
                        <option value="0" selected>方式</option>
                        <option value="1">支付宝</option>
                        <option value="2">微信</option>
                        <option value="3">现金</option>
                    </select>
                </div>
            </div>
            <!--消费时间下拉框-->
            <div class="form-group form-inline">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeDateSelect">
                        <option value="0" selected>时间</option>
                        <option value="1">本周</option>
                        <option value="2">上周</option>
                        <option value="3">本月</option>
                        <option value="4">上月</option>
                        <option value="5">今年</option>
                        <option value="6">去年</option>
                        <!--                    <option value="7">自定义</option>-->
                    </select>
                </div>
            </div>
        </div>
        <h4>&nbsp;&nbsp;</h4>
        <!-- Tab panes -->
        <div class="tab-content admin  ">
            <!--消费详情-->
            <div id="consumeDetailTable2" class="container tab-pane active"><br>
                <div class="am-g">
                    <div class="am-u-md-12">
                        <div class="card-box">
                            <table class="table table-bordered table-striped" id="consumeDetailTable">
                                <thead class="thead-light">
                                    <th style="text-align: center">人员</th>
                                    <th style="text-align: center">类别</th>
                                    <th style="text-align: center">方式</th>
                                    <th style="text-align: center">时间</th>
                                    <th style="text-align: center">金额</th>
                                    <th style="text-align: center">备注</th>
                                </thead>
                                <tbody id="consumeDetailBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--分页插件-->
                <div id="pagination"></div>
            </div>
            <!--收入详情-->
            <div id="incomeDetailTable2" class="container tab-pane fade"><br>
                <div class="am-g">
                    <div class="am-u-md-12">
                        <div class="card-box">
                            <table class="table table-bordered table-striped" id="incomeDetailTable">
                                <thead class="thead-light">
                                <th style="text-align: center">人员</th>
                                <th style="text-align: center">类别</th>
                                <th style="text-align: center">时间</th>
                                <th style="text-align: center">金额</th>
                                <th style="text-align: center">备注</th>
                                </thead>
                                <tbody id="incomeDetailBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--分页插件-->
                <div id="incomePagination"></div>
            </div>
            <!--收支汇总-->
            <div id="incomeAndExpenditure" class="container tab-pane fade"><br>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本月消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                                <h2 class="m-b-0 text-danger" id="monthlyTotalConsumeAmount"></h2>
                                <p class="text-muted m-b-25">本月消费</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本周消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                                <h2 class="m-b-0 text-danger" id="weeklyTotalConsumeAmount"></h2>
                                <p class="text-muted m-b-25">本周消费</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本月收入</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                                <h2 class="m-b-0 text-success" id="monthlyIncomeAmount"></h2>
                                <p class="text-muted m-b-25">本月收入</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--饼状图-->
            <div id="pieChart" class="container tab-pane fade"><br>
                <div class="am-g">
                    <div class="am-u-md-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">消费分析图</h4>
                            <div id="index-pie-1" style="height: 345px;width: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--折线图-->
            <div id="lineChart" class="container tab-pane fade"><br>
                <div class="am-g">
                    <div class="am-u-md-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">一周消费折线图</h4>
                            <div id="index-line-1" style="height: 345px;width: 340px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 消费类别模态框 -->
<div class="modal fade" id="consumeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">消费类别</h4>
                <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div id="consumeCategoryRadio" class="center"></div>
            </div>
        </div>
    </div>
</div>

<!-- 设置模态框 -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">设置</h4>
                <button type="button" id="closeConfigModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="center">
                    <button data-toggle="modal" class="btn btn-success" data-target="#addConsumeCategoryModal">消费分类管理
                    </button>
                    <button data-toggle="modal" class="btn btn-info" data-target="#addIncomeCategoryModal">收入分类管理
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 添加消费分类模态框 -->
<div class="modal fade" id="addConsumeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">添加消费分类</h4>
                <button type="button" id="closeConsumeCategoryModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="form-group form-inline">
                    <div style="float: left">
                        <label>分类名称:&nbsp;&nbsp;&nbsp;</label>
                    </div>
                    <div style="float: left">
                        <div class='input-group ' style="width: 150px;">
                            <input type='text' id="addConsumeCategory" class="form-control" autocomplete="off"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="addCategory(1)">添加</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加收入分类模态框 -->
<div class="modal fade" id="addIncomeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">添加收入分类</h4>
                <button type="button" id="closeIncomeCategoryModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="form-group form-inline mx-auto">
                    <div style="float: left">
                        <label>分类名称:&nbsp;&nbsp;&nbsp;</label>
                    </div>
                    <div style="float: left" class="mx-auto">
                        <div class='input-group ' style="width: 150px;">
                            <input type='text' id="addIncomeCategory" class="form-control" autocomplete="off"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="addCategory(2)">添加</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑消费详情模态框 -->
<div class="modal fade" id="editConsumeDetailModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">编辑消费详情</h4>
                <button type="button" id="closeConsumeDetailModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="form-group form-inline mx-auto">
                    <div class="card-body">
                        <form id="consumeForm" autocomplete="off">
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费人:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div style="float: left">
                                <input type="radio" value="1" name="editConsumeBy" checked>&nbsp;可
                                <input hidden id="consumeDetailId">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" value="2" name="editConsumeBy">&nbsp;欣
                            </div>
                        </div>
                        <!--消费类别下拉框-->
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费类别:&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="parent" style="width: 150px">
                                <button type="button" data-toggle="modal" id="editSelectedCategory" data-target="#editConsumeCategoryModal"
                                        style="text-align: left">请选择
                                </button>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费金额:&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div style="float: left">
                                <input type="text" id="editConsumeAmount" class="form-control"
                                       style="background-color: white;width: 150px;text-align:center"
                                       placeholder="金额"
                                />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费方式:&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div style="float: left">
                                <input type="radio" value="1" name="editConsumeWay" checked>&nbsp;&nbsp;支付宝&nbsp;&nbsp;
                                <input type="radio" value="2" name="editConsumeWay">&nbsp;微信&nbsp;&nbsp;
                                <input type="radio" value="3" name="editConsumeWay">&nbsp;现金&nbsp;&nbsp;
                                <input type="radio" value="4" name="editConsumeWay">&nbsp;银行卡
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费时间:&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="form-group" style="width: 150px;">
                                <input  class="form-control" type="date" id="editConsumeDate" style="text-align: center">
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div style="float: left">
                                <label>消费备注:&nbsp;&nbsp;&nbsp;</label>
                            </div>
                            <div class="form-group" style="width: 150px;">
                                <input class="form-control" type="text" id="editConsumeComment" style="width: 150px;text-align:center"placeholder="选填"/>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="updateConsumeDetail()">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑收入详情模态框 -->
<div class="modal fade" id="editIncomeDetailModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">编辑收入详情</h4>
                <button type="button" id="closeIncomeDetailModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="form-group form-inline mx-auto">
                    <div class="card-body">
                        <form id="incomeForm" autocomplete="off">
                            <div class="form-group form-inline">
                                <div style="float: left">
                                    <label>收入人员:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div style="float: left">
                                    <input type="radio" value="1" name="editIncomeBy" checked>&nbsp;可
                                    <input hidden id="incomeDetailId">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" value="2" name="editIncomeBy">&nbsp;欣
                                </div>
                            </div>
                            <!--消费类别下拉框-->
                            <div class="form-group form-inline">
                                <div style="float: left">
                                    <label>收入类别:&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="parent" style="width: 150px">
                                    <select id="editIncomeCategorySelect"></select>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div style="float: left">
                                    <label>收入金额:&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div style="float: left">
                                    <input type="text" id="editIncomeAmount" class="form-control"
                                           style="background-color: white;width: 150px;text-align:center"
                                           placeholder="金额"
                                    />
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div style="float: left">
                                    <label>收入时间:&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group" style="width: 150px;">
                                    <input  class="form-control" type="date" id="editIncomeDate" style="text-align: center">
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div style="float: left">
                                    <label>收入备注:&nbsp;&nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group" style="width: 150px;">
                                    <input class="form-control" type="text" id="editIncomeComment" style="width: 150px;text-align:center"placeholder="选填"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="updateIncomeDetail()">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑消费类别模态框 -->
<div class="modal fade" id="editConsumeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">消费类别</h4>
                <button type="button" id="closeEditModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div id="editConsumeCategoryRadio" class="center"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/jquery-2.1.0.min.js"></script>
<script src="../static/js/layer-1.1.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/js/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../static/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/js/blockUI.js"></script>
<script type="text/javascript" src="../static/js/charts/echarts.min.js"></script>
<script src="../static/js/page/js/pages.js"></script>
<script src="../static/js/labelauty.js"></script>
<script type="text/javascript" src="../static/js/charts/indexChart.js?version=123asdasss55sds1dsdasdss"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="../static/js/jcalculator.js"></script>
<script src="../static/js/labelauty.js"></script>
</body>
</html>
