<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记账吧</title>
    <link rel="stylesheet" href="../static/css/amazeui.css"/>
    <link rel="stylesheet" href="../static/css/core.css"/>
    <link rel="stylesheet" href="../static/css/menu.css"/>
    <link rel="stylesheet" href="../static/css/admin.css"/>
    <link rel="stylesheet" href="../static/css/page/typography.css"/>
    <link rel="stylesheet" href="../static/css/page/form.css"/>
    <link rel="stylesheet" href="../static/css/component.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="page-title" style="float: left">
        <a href="/">
            <img src="../static/img/back.png" style="width: 30px;height: 30px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
    </div>
    <br>
    <div class="container consume-table">
        <h4>&nbsp;&nbsp;</h4>
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#consumeDetailTable2"><strong>消费详情</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#incomeAndExpenditure" onclick="getIncomeAndExpenditure()"><strong>收支汇总</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#chart" onclick="getChat()"><strong>图表</strong></a>
            </li>
        </ul>

        <h4>&nbsp;&nbsp;</h4>
        <!--筛选-->
        <div class="form-group form-inline select-centered">
            <!--消费人下拉框-->
            <div class="form-group form-inline">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeBySelect">
                        <option value="0" selected class="my-select">人员</option>
                        <option value="1" class="my-select">可</option>
                        <option value="2" class="my-select">欣</option>
                    </select>
                </div>
            </div>
            <!--消费类别下拉框-->
            <div class="form-group form-inline">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeCategorySelect">
                        <option value="0" selected>类别</option>
                    </select>
                </div>
            </div>
            <!--消费方式下拉框-->
            <div class="form-group form-inline" style="margin-right: 5px">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeWaySelect">
                        <option value="0" selected>方式</option>
                        <option value="1">支付宝</option>
                        <option value="2">微信</option>
                        <option value="3">现金</option>
                    </select>
                </div>
            </div>
            <!--消费时间下拉框-->
            <div class="form-group form-inline">
                <div class="parent">
                    <select class="form-control selectMonitor my-select" id="consumeDateSelect">
                        <option value="0" selected>时间</option>
                        <option value="1">本周</option>
                        <option value="2">上周</option>
                        <option value="3">本月</option>
                        <option value="4">上月</option>
                        <option value="5">今年</option>
                        <option value="6">去年</option>
                        <!--                    <option value="7">自定义</option>-->
                    </select>
                </div>
            </div>
        </div>
        <h4>&nbsp;&nbsp;</h4>
        <!-- Tab panes -->
        <div class="tab-content admin  ">
            <div id="consumeDetailTable2" class="container tab-pane active"><br>
                <div class="am-g">
                    <div class="am-u-md-12">
                        <div class="card-box">
                            <table class="table table-bordered table-striped" id="consumeDetailTable">
                                <thead class="thead-light">
                                <tr>
                                    <th style="text-align: center">人员</th>
                                    <th style="text-align: center">类别</th>
                                    <th style="text-align: center">方式</th>
                                    <th style="text-align: center">时间</th>
                                    <th style="text-align: center">金额</th>
                                </tr>
                                </thead>
                                <tbody id="consumeDetailBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--分页插件-->
                <div  id="pagination"></div>
            </div>
            <div id="incomeAndExpenditure" class="container tab-pane fade"><br>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">当月消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                                <h2 class="m-b-0" id="monthlyTotalConsumeAmount"></h2>
                                <p class="text-muted m-b-25">当月消费总金额</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本周消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                                <h2 class="m-b-0" id="weeklyTotalConsumeAmount"></h2>
                                <p class="text-muted m-b-25">本周消费总金额</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本月收入</h4>
                        <div class="widget-chart-1 am-cf">
                            <div id="widget-chart-box-2"
                                 style="height: 110px;width: 110px;float: left;">
                            </div>

                            <div class="widget-detail-1" style="float: right;">
                                <h2 class="p-t-10 m-b-0" id="monthlyIncomeAmount"></h2>
                                <p class="text-muted">本月收入</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chart" class="container tab-pane fade"><br>
                <div class="am-g">
                    <div class="am-u-md-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">消费分析图</h4>
                            <div id="index-pie-1" style="height: 345px;width: 300px;"></div>
                        </div>
                    </div>
                    <div class="am-u-md-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">一周消费折线图</h4>
                            <div id="index-line-1" style="height: 345px;width: 340px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/js/moment-with-locales.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../static/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/blockUI.js"></script>
<script type="text/javascript" src="../static/js/charts/echarts.min.js"></script>
<script src="../static/js/page/js/pages.js"></script>
<script type="text/javascript" src="../static/js/charts/indexChart.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
</body>
</html>
