<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记账吧</title>
    <link rel="stylesheet" href="../static/css/amazeui.css"/>
    <link rel="stylesheet" href="../static/css/core.css"/>
    <link rel="stylesheet" href="../static/css/menu.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/admin.css"/>
    <link rel="stylesheet" href="../static/css/page/typography.css"/>
    <link rel="stylesheet" href="../static/css/page/form.css"/>
    <link rel="stylesheet" href="../static/css/component.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!-- Begin page -->
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-topbar-left am-hide-sm-only">
        <a href="admin.html" class="logo"><span>Admin<span>to</span></span><i class="zmdi zmdi-layers"></i></a>
    </div>

    <div class="contain">
        <ul class="am-nav am-navbar-nav am-navbar-left">

            <li><h4 class="page-title"><a href="/index">返回首页</a></h4></li>
<!--            <button class="btn btn-back js-btn" value="111"><i class="fas fa-angle-left">2222</i></button>-->
        </ul>

        <ul class="am-nav am-navbar-nav am-navbar-right">
            <li class="inform">
                <i class="am-icon-bell-o"
                   aria-hidden="true"></i></li>
            <li class="hidden-xs am-hide-sm-only">
                <form role="search" class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><img src="../static/img/search.png"></a>
                </form>
            </li>
        </ul>
    </div>
</header>
<!-- end page -->


<div class="admin">
    <!--<div class="am-g">-->
    <!-- ========== Left Sidebar Start ========== -->
    <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
            <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
    <!-- sidebar start -->
<!--    <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">-->
<!--        <div class="am-offcanvas-bar admin-offcanvas-bar">-->
<!--            &lt;!&ndash; User &ndash;&gt;-->
<!--            <div class="user-box am-hide-sm-only">-->
<!--                <div class="user-img">-->
<!--                    <img src="../static/img/avatar-1.jpg" alt="user-img" title="Mat Helme"-->
<!--                         class="img-circle img-thumbnail img-responsive">-->
<!--                    <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>-->
<!--                </div>-->
<!--                <h5><a href="#">Mat Helme</a></h5>-->
<!--                <ul class="list-inline">-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--                            <i class="fa fa-cog" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#" class="text-custom">-->
<!--                            <i class="fa fa-cog" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; End User &ndash;&gt;-->

<!--&lt;!&ndash;            <ul class="am-list admin-sidebar-list">&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="admin.html"><span class="am-icon-home"></span> 首页</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="admin-parent">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-table"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                        表格 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/table_basic.html" class="am-cf"> 基本表格</span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/table_complete.html">完整表格</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="admin-parent">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><i class="am-icon-line-chart"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                      aria-hidden="true"></i> 统计图表 <span&ndash;&gt;-->
<!--&lt;!&ndash;                            class="am-icon-angle-right am-fr am-margin-right"></span></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/chart_line.html" class="am-cf"> 折线图</span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/chart_columnar.html" class="am-cf"> 柱状图</span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/chart_pie.html" class="am-cf"> 饼状图</span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="admin-parent">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file"></span> 表单&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="am-icon-angle-right am-fr am-margin-right"></span></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav5">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/form_basic.html" class="am-cf"> 基本表单</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a href="html/form_validate.html">表单验证</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
    <!-- sidebar end -->

    <!--</div>
</div>
</div>-->
    <!-- ========== Left Sidebar end ========== -->


    <!--	<div class="am-g">-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="am-g">
                <!-- Row start -->
                <div class="am-g">
                    <!-- col start -->
                    <div class="am-u-md-8">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">最近消费</h4>
                                <table class="table table-bordered table-striped" id="consumeDetailTable">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="text-align: center">消费人</th>
                                        <th style="text-align: center">消费类别</th>
                                        <th style="text-align: center">消费金额</th>
                                        <th style="text-align: center">消费方式</th>
                                        <th style="text-align: center">消费时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="consumeDetailTemplate">
                                        <td style="text-align: center" id="consumeBy"></td>
                                        <td style="text-align: center" id="consumeCategoryName"></td>
                                        <td style="text-align: center" id="consumeAmount"></td>
                                        <td style="text-align: center" id="consumeWay"></td>
                                        <td style="text-align: center" id="consumeDate"></td>
                                    </tr>
                                    </tbody>
                                </table>
<!--                            </div>-->
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- Row end -->
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">当月消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2" >
                                <!--<span class="badge  pull-left m-t-20  am-round"
                                      style="color: #fff; background: #0e90d2;">32% <i
                                        class="zmdi zmdi-trending-up"></i> </span>-->
                                <h2 class="m-b-0" id="monthlyTotalConsumeAmount"> </h2>
                                <p class="text-muted m-b-25">当月消费总金额</p>
                            </div>
                           <!-- <div class="am-progress am-progress-xs am-margin-bottom-0">
                                <div class="am-progress-bar" style="width: 80%"></div>
                            </div>-->
                        </div>

                    </div>
                </div>
                <!-- col end -->
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本周消费</h4>
                        <div class="widget-box-2">
                            <div class="widget-detail-2">
                               <!-- <span class="badge  pull-left m-t-20  am-round progress-bar-pink" style="color: #fff;">32% <i
                                        class="zmdi zmdi-trending-up"></i> </span>-->
                                <h2 class="m-b-0" id="weeklyTotalConsumeAmount"></h2>
                                <p class="text-muted m-b-25">本周消费总金额</p>
                            </div>
                           <!-- <div class="am-progress am-progress-xs am-margin-bottom-0"
                                 style="background: rgba(255, 138, 204, 0.2);">
                                <div class="am-progress-bar progress-bar-pink" style="width: 80%"></div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- Row end -->
                <div class="am-u-md-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">本月收入</h4>
                        <div class="widget-chart-1 am-cf">
                            <div id="widget-chart-box-2" style="height: 110px;width: 110px;float: left;">
                            </div>

                            <div class="widget-detail-1" style="float: right;">
                                <h2 class="p-t-10 m-b-0" id="monthlyIncomeAmount"></h2>
                                <p class="text-muted">本月收入</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>

            <div class="am-g">
                <!-- Row start -->
                <div class="am-u-md-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">消费分析图</h4>
                        <div id="index-pie-1" style="height: 345px;width: 300px;"></div>
                    </div>
                </div>

               <!-- <div class="am-u-md-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">柱状图</h4>
                        <div id="index-bar-1" style="height: 345px;height: 300px;"></div>
                    </div>
                </div>-->

                <div class="am-u-md-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">一周消费折线图</h4>
                        <div id="index-line-1" style="height: 345px;width: 340px;"></div>
                    </div>
                </div>
                <!-- Row end -->
            </div>


        </div>
    </div>
    <!-- end right Content here -->
    <!--</div>-->
</div>
</div>


<script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../static/js/amazeui.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/blockUI.js"></script>
<script type="text/javascript" src="../static/js/charts/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/charts/indexChart.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
<script type="text/javascript">


</script>
