<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>记账吧</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--图标库-->
    <link rel="stylesheet" href="../static/css/font-awesome.css"/>
    <!--响应式框架-->
    <link rel='stylesheet' href='../static/css/bootstrap.min.css'>
    <!--主要样式-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="stylesheet" href="../static/css/jcalculator.css">
    <link rel="stylesheet" href="../static/css/bootstrapValidator.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/selectBox/index.css"/>
    <link rel="stylesheet" href="../static/css/selectBox/labelauty.css"/>
    <link rel="stylesheet" href="../static/css/footer.css"/>

    <script src="../static/js/jquery-2.1.0.js"></script>
    <!--    <script src="../static/js/jquery-2.1.0.min.js"></script>-->
    <script src="../static/js/layer-1.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>
<header>
    <div class="top-menu" style="position: absolute;top: 10px;left: 15px">
        <ul class="nav nav-pills">
            <li class="nav-item ">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <svg t="1617158437936" class="icon" viewBox="0 0 1024 1024" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="25454" width="20" height="20">
                        <path d="M117.418667 768h789.333333a32 32 0 0 1 4.352 63.701333l-4.352 0.298667h-789.333333a32 32 0 0 1-4.309334-63.701333L117.418667 768h789.333333-789.333333z m0-277.205333h789.333333a32 32 0 0 1 4.352 63.701333l-4.352 0.298667h-789.333333a32 32 0 0 1-4.309334-63.701334l4.309334-0.298666h789.333333-789.333333z m0-277.333334h789.333333a32 32 0 0 1 4.309333 63.701334l-4.352 0.298666h-789.333333A32 32 0 0 1 113.066667 213.76l4.309333-0.298667h789.333333-789.333333z"
                              p-id="25455" fill="#ffffff"></path>
                    </svg>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/page/home">
                        <svg t="1617116177398" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="18605" width="20" height="20">
                            <path d="M979.84 404.544 574.272 84c-34.912-27.648-89.696-27.616-124.576 0L44.16 404.544c-13.856 10.976-16.224 31.104-5.28 44.96s30.624 16.224 44.48 5.28L96 444.416 96 832c0 54.944 57.888 96 108.8 96l640 0c50.304 0 83.2-38.592 83.2-96L928 445.92l11.68 8.864c5.888 4.64 13.12 6.88 20.064 6.88 9.44 0 18.912-4.16 25.216-12.16C995.936 435.648 993.728 415.52 979.84 404.544zM480 864l0-177.408c0-8.832 16-13.248 32-13.248s32 4.416 32 13.248L544 864 480 864zM864 832c0 21.216-5.856 32-19.2 32L608.64 864c0-0.48-0.64-0.864-0.64-1.344l0-176.064c0-37.216-30.016-77.28-96-77.28s-96 40.064-96 77.28l0 176.064c0 0.48 0.864 0.864 0.864 1.344L204.8 864C184.736 864 160 846.656 160 832L160 393.824l328.928-259.616c11.808-9.344 33.12-9.344 44.96 0L864 395.328 864 832z"
                                  p-id="18606" fill="#1296db"></path>
                        </svg>
                        &nbsp;个人中心
                    </a>
                    <a class="dropdown-item" href="/page/email">
                        <svg t="1617116007690" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="15920" width="20" height="20">
                            <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#B3DFFF"
                                  p-id="15921"></path>
                            <path d="M460.334545 509.44a75.869091 75.869091 0 0 0 103.563637 0l266.705454-250.181818A46.545455 46.545455 0 0 0 814.545455 256H209.454545a46.545455 46.545455 0 0 0-16.756363 3.258182zM857.134545 739.374545A46.545455 46.545455 0 0 0 861.090909 721.454545V302.545455a46.545455 46.545455 0 0 0-4.654545-20.247273l-235.287273 221.090909z"
                                  fill="#439DFF" p-id="15922"></path>
                            <path d="M595.781818 527.36l-8.145454 7.68a110.778182 110.778182 0 0 1-151.272728 0l-8.145454-7.68L191.534545 764.043636A46.545455 46.545455 0 0 0 209.454545 768h605.09091a46.545455 46.545455 0 0 0 18.618181-3.956364zM167.563636 282.996364A46.545455 46.545455 0 0 0 162.909091 302.545455v418.90909a46.545455 46.545455 0 0 0 3.956364 18.618182l235.985454-236.683636z"
                                  fill="#439DFF" p-id="15923"></path>
                        </svg>
                        &nbsp;我的信箱
                    </a>
                    <a class="dropdown-item" href="#" onclick="logout()">
                        <svg t="1617116062009" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="17103" width="20" height="20">
                            <path d="M732.8 806.4C668.7 854.6 592.4 880 512 880c-98.3 0-190.7-38.3-260.2-107.8S144 610.3 144 512s38.3-190.7 107.8-260.2S413.7 144 512 144c80.4 0 156.7 25.4 220.8 73.6 14.1 10.6 34.2 7.8 44.8-6.4 10.6-14.1 7.8-34.2-6.4-44.8-36.6-27.5-77.1-48.9-120.2-63.6C606.3 87.7 559.6 80 512 80c-58.3 0-114.9 11.4-168.2 34-51.4 21.8-97.6 52.9-137.3 92.6s-70.8 85.9-92.6 137.3C91.4 397.1 80 453.7 80 512s11.4 114.9 34 168.2c21.8 51.4 52.9 97.6 92.6 137.3 39.7 39.7 85.9 70.8 137.3 92.6 53.3 22.5 109.9 34 168.2 34 47.6 0 94.3-7.7 139-22.9 43.2-14.7 83.6-36 120.2-63.6 14.1-10.6 17-30.7 6.4-44.8-10.7-14.2-30.8-17-44.9-6.4z"
                                  fill="#1875F0" p-id="17104"></path>
                            <path d="M934.6 489.4l-112-112c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l57.4 57.4H480c-17.7 0-32 14.3-32 32s14.3 32 32 32h354.7l-57.4 57.4c-12.5 12.5-12.5 32.8 0 45.3 6.2 6.2 14.4 9.4 22.6 9.4s16.4-3.1 22.6-9.4l112-112c12.6-12.7 12.6-32.9 0.1-45.4z"
                                  fill="#1875F0" p-id="17105"></path>
                        </svg>
                        &nbsp;退出登录
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
<div class="container">
    <div class="card-wrap">
        <div class="card border-0 shadow card--welcome is-show border-circular" id="welcome">
            <div class="card-body">
                <h2 class="card-title">欢迎进入记账吧</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <div class="userImage">
                    <a href="/page/admin">
                        <img class="userImage" src="../static/img/catFace.png"></a>
                </div>
                <div class="btn-wrap">
                    <a class="btn btn-lg btn-register js-btn" data-target="register">花钱啦</a>
                    <a class="btn btn-lg btn-login js-btn" data-target="login">挣钱啦</a>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow card--register" id="register">
            <div class="card-body">
                <h2 class="card-title">消费记录</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <form id="consumeForm" autocomplete="off">
                    <!--消费类别下拉框-->
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费类别:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="parent" style="width: 150px">
                            <button type="button" data-toggle="modal" id="selectedCategory"
                                    data-target="#consumeCategoryModal"
                                    style="text-align: left">请选择
                            </button>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费金额:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="text" id="consumeAmount" readonly class="form-control"
                                   style="background-color: white;width: 150px;text-align:center"
                                   placeholder="金额"
                            />
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费方式:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="radio" value="1" name="consumeWay" checked>&nbsp;&nbsp;支付宝
                            <input type="radio" value="2" name="consumeWay">&nbsp;微信
                            <input type="radio" value="3" name="consumeWay">&nbsp;现金
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费时间:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <div class='input-group date' id='consumeDatetimepicker' style="width: 150px;">
                                <input type='text' id="consumeDate" readonly class="form-control"
                                       style="background-color: white;"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费备注:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="form-group" style="width: 150px;">
                            <input class="form-control" type="text" id="consumeComment"
                                   style="width: 150px;text-align:center" placeholder="选填"/>
                        </div>
                    </div>

                    <button onclick="addConsumeDetail()" class="btn btn-lg">记一笔</button>
                </form>
            </div>
            <button class="btn btn-back js-btn" data-target="welcome"><i class="fa fa-angle-left"></i></button>
        </div>

        <div class="card border-0 shadow card--login" id="login">
            <div class="card-body">
                <h2 class="card-title">收入记录</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <form>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益类别:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left;text-align: center">
                            <select class="form-control" id="incomeCategoryId" name="incomeCategoryId"
                                    style="width: 150px;text-align: center">
                                <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益金额:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="number" id="incomeAmount" class="form-control" placeholder="金额"
                                   required="required" style="width: 150px;text-align:center"/>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益时间:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <div class='input-group date' id='incomeDatetimepicker' style="width: 150px;">
                                <input type='text' style="background-color: white;" id="incomeDate" readonly
                                       class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益备注:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="form-group" style="width: 150px;">
                            <input class="form-control" type="text" id="incomeComment"
                                   style="width: 150px;text-align:center" placeholder="选填"/>
                        </div>
                    </div>
                    <button onclick="addIncomeDetail()" class="btn btn-lg">记一笔</button>
                </form>
            </div>
            <button class="btn btn-back js-btn" data-target="welcome"><i
                    class="fa fa-angle-left"></i></button>
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="consumeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">消费类别</h4>
                <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div id="consumeCategoryRadio" class="center"></div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="../static/js/index.js"></script>
<script src="../static/js/jcalculator.js"></script>
<script src="../static/js/labelauty.js"></script>
<script src="../static/js/pageIndex.js"></script>
</body>
</html>
