<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>记账吧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--图标库-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
    <!--响应式框架-->
    <link rel='stylesheet' href='../static/css/bootstrap.min.css'>
    <!--主要样式-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/my.css">
    <link rel="stylesheet" href="../static/css/bootstrapValidator.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="../static/js/jquery-2.1.0.js"></script>
    <script src="../static/js/layer-1.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>

<div class="container">

    <div class="card-wrap">

        <div class="card border-0 shadow card--welcome is-show border-circular" id="welcome">
            <div class="card-body">
                <h2 class="card-title">欢迎进入记账吧</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <div class="userImage">
                    <a href="/admin">
                        <img class="userImage" src="../static/img/catFace.png"></a>
                </div>
                <div class="btn-wrap">
                    <a class="btn btn-lg btn-register js-btn" data-target="register">花钱啦</a>
                    <a class="btn btn-lg btn-login js-btn" data-target="login">挣钱啦</a>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow card--register" id="register">
            <div class="card-body">
                <h2 class="card-title">消费记录</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <form id="consumeForm">
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费人:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="radio" value="1" name="consumeBy" checked>&nbsp;xkf
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="consumeBy">&nbsp;lx
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费类别:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <select class="form-control" id="consumeCategoryId" style="width: 100px" required="required">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费金额:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left" >
                            <input type="number" id="consumeAmount" class="form-control" style="width: 100px"
                                   placeholder="金额"
                            />
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费方式:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="radio" value="1" name="consumeWay" checked>&nbsp;&nbsp;支付宝&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="consumeWay">&nbsp;微信&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="3" name="consumeWay">&nbsp;现金
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>消费时间:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <div class='input-group date' id='consumeDatetimepicker' style="width: 150px;">
                                <input type='text' id="consumeDate" class="form-control" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                            </div>
                        </div>
                    </div>

                    <button onclick="addConsumeDetail()" class="btn btn-lg">记一笔</button>
                </form>
            </div>
            <button class="btn btn-back js-btn" data-target="welcome"><i class="fas fa-angle-left"></i></button>
        </div>

        <div class="card border-0 shadow card--login" id="login">
            <div class="card-body">
                <h2 class="card-title">收入记录</h2>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <form>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益人:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="radio" value="1" name="incomeBy" checked>&nbsp;xkf
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="incomeBy">&nbsp;&nbsp;lx
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益类别:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <select class="form-control" id="incomeCategoryId" name="incomeCategoryId"
                                    style="width: 100px">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益金额:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <input type="number" id="incomeAmount" class="form-control" placeholder="金额"
                                   required="required" style="width: 100px"/>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div style="float: left">
                            <label>收益时间:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div style="float: left">
                            <div class='input-group date' id='incomeDatetimepicker' style="width: 150px;">
                                <input type='text' id="incomeDate" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button onclick="addIncomeDetail()" class="btn btn-lg">记一笔</button>
                </form>
            </div>
            <button class="btn btn-back js-btn" data-target="welcome"><i
                    class="fas fa-angle-left"></i></button>
        </div>

    </div>

</div>

<script src="../static/js/index.js"></script>
<script src="../static/js/bootstrapValidator.min.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#consumeDatetimepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
        });
        $('#incomeDatetimepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
        });
        initConsumeCategory();
        initincomeCategory();

        let now = new Date();
        let month = Number(now.getMonth()) + 1
        let nowDate = now.getFullYear() + "-" + month + "-" + now.getDate();
        $("#consumeDate").val(nowDate)
        $("#incomeDate").val(nowDate)

    });

    //初始化消费类别
    function initConsumeCategory() {
        $.ajax({
            url: 'consume/category/getAll',
            type: 'get',
            cache: false,
            processData: false,
        }).done(function (res) {
            var categorys = res.data;
            for (var index in categorys) {
                var category = categorys[index]
                $("<option value=" + category.id + ">" + category.categoryName + "</option>").appendTo("#consumeCategoryId");
            }
        }).fail(function (res) {

        });
    }

    //初始化收益类别
    function initincomeCategory() {
        $.ajax({
            url: 'income/category/getAll',
            type: 'get',
            cache: false,
            processData: false,
        }).done(function (res) {
            const categorys = res.data;
            for (const index in categorys) {
                const category = categorys[index];
                $("<option value=" + category.id + ">" + category.categoryName + "</option>").appendTo("#incomeCategoryId");
            }
        }).fail(function (res) {

        });
    }

    function addConsumeDetail() {
        const consumeAmount = $("#consumeAmount").val();
        const consumeCategoryId = Number($("#consumeCategoryId").val());
        $.ajax({
            url: 'consume/detail/add',
            type: 'POST',
            cache: false,
            data: JSON.stringify({
                "consumeCategoryId": consumeCategoryId,
                "consumeAmount": consumeAmount,
                "consumeWay": $("input[name='consumeWay']:checked").val(),
                "consumeDate": $("#consumeDate").val(),
                "consumeBy": $("input[name='consumeBy']:checked").val()
            }),
            async: false,
            contentType: 'application/json',
            success: function (data) {
                alert(data.message);
                window.location.href = "/index";
            },
            error: function (data) {
                alert("记录失败")
            }
        });
    }

    function addIncomeDetail() {
        $.ajax({
            url: 'income/detail/add',
            type: 'POST',
            cache: false,
            data: JSON.stringify({
                "incomeCategoryId": $("#incomeCategoryId").val(),
                "incomeAmount": $("#incomeAmount").val(),
                "incomeDate": $("#incomeDate").val(),
                "incomeBy": $("input[name='incomeBy']:checked").val()
            }),
            async: false,
            contentType: 'application/json',
            success: function (data) {
                alert(data.message)
                window.location.href = "/index";
            },
            error: function (data) {
                alert("记录失败")
            }
        });
    }

</script>